@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Play:wght@400;700&display=swap');

/* 
font-family: 'Monoton', sans-serif;
font-family: 'Play', sans-serif; 
*/

* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #bbb;
    outline: 0;
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #111;
}

.vid {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.9;
}

.vid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 10;
}

h1 img {
    width: 280px;
}

header {
    width: 700px;
    height: 100%;
    position: fixed;
    background: rgb(230, 252, 85);
    background: -moz-linear-gradient(-45deg, rgba(230, 252, 85, 1) 0%, rgba(185, 251, 5, 1) 50%, rgba(151, 224, 49, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(230, 252, 85, 1) 0%, rgba(185, 251, 5, 1) 50%, rgba(151, 224, 49, 1) 100%);
    background: linear-gradient(-45deg, rgba(230, 252, 85, 1) 0%, rgba(185, 251, 5, 1) 50%, rgba(151, 224, 49, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6fc55", endColorstr="#97e031", GradientType=1);
    transform: skewX(-40deg);
    top: 0; left: -470px;
}

/* 1depth */
header ul#gnb {
    width: 220px;
    position: absolute;
    right: 0;
    top: 150px;
}

header ul#gnb>li {
    position: relative;
}

header ul#gnb>li>a {
    display: block;
    width: 220px; height: 50px;
    font: bold 18px/3 'Play', sans-serif;
    box-sizing: border-box;
    padding-right: 40px;
    text-align: right;
}

header ul#gnb>li.on>a {
    background: #111;
    color: #fff;
}

header ul#gnb em {
    transform: skewX(40deg);
    display: inline-block;
}

header ul#gnb em i {
    margin-right: 20px;
}

/* 2depth */
header ul#gnb ul{
    position: absolute;
    left: 0; top: 0;
    opacity: 0;
    transition: all .4s;
}
header ul#gnb>li:hover ul{
    left : 205px;
    opacity: 0.8;
}
header ul#gnb ul a{
    display: block;
    width: 150px;
    height: 40px;
    background: #222;
    color: #fff;
    border-bottom: 1px solid #b9fb05;
    padding-left: 50px;
    margin-bottom: 3px;
    font: bold 16px/2.5 arial;
    transition: all 0.5s;
}
header ul#gnb ul a:hover{
    background: #b9fb05;
    color: #333;
}
header ul#gnb li.on ul{
    opacity: 0.8;
    left: 205px;
    top: -10px;
}
header ul#gnb li.on ul a{
    background: #444;
    color: #b9fb05;
}

/* sns */
ul#sns{
    position: fixed;
    top: 60px; right: 50px;
}
ul#sns li{
    float: left; margin-right: 30px;
}
ul#sns i{
    font-size: 25px; color: #b9fb05; opacity: .5;
    transform: scale(1); transition: all .5s;
}
ul#sns i:hover{
    transform: scale(1.4);
    opacity: 1;
}

/* txtBox */
.txtBox{
    width: 340px; height: 280px;
    position: fixed;
    top: 200px; right: 70px;
}
.txtBox .txt{
    position: absolute;
    top: 200px; right: 0;
    font-size: 34px;
    font-family: 'Play', sans-serif; 
    color: #bbb;
    letter-spacing: -2px;
    font-weight: normal;
}
.txtBox .txt b{
    font: bold 34px arial;
    color: #b9fb05;
    margin-left: 20px;
}
.txtBox .tit{
    position: absolute;
    top: 0; right: 0;
    font-size: 160px; color: #b9fb05;
    letter-spacing: -1px;
    font-family: 'Monoton', sans-serif;
}
.txtBox .tit em{
    font-size: 50px; color: #fff;
    font-family: 'Play', sans-serif; 
}

/* side */
#side{
    width: 800px; height: 100%; position: fixed;
    bottom: 0; right: -800px;
    background: #111; opacity: 0.5;
    transform: skewX(-40deg);
    transition: all .5s;   
}
#side:hover{
    right: -500px;
}
#side .con{
    width: 400px; height: 100%;
    position: absolute;
    left: 150px; bottom: 0;
    background: #000; padding: 10px;
    box-sizing: border-box;
    transition: all 1s;
}
#side:hover .con{
    left: 50px;
}
#side .con p{
    width: 300px; height: 100px;
    position: absolute; left: 50px;
    transform: translateX(200px);
}
#side .con p:nth-child(1){
    bottom: 270px;
    transition: all 0.4s;
}
#side .con p:nth-child(2){
    bottom: 160px;
    transition: all 0.8s;
}
#side .con p:nth-child(3){
    bottom: 50px;
    transition: all 1.2s;
}
#side:hover .con p{
    transform: translateX(0);
}
#side .con p em{font: 16px/1.7 arial; color: #a0bd50;
transform: skewX(40deg); display: inline-block;}
#side .con p img{
    width: 300px; height: 70px; opacity: 0.3;
    transition: all .5s;
}
#side .con p img:hover{
    opacity: 1;
}

#side .btnContents{
    width: 150px; height: 50px;
    position: absolute;
    bottom: 40px; left: 100px; color: #b9fb05;
    transform: skewX(40deg);
}
#side:hover .btnContents{
    left: 700px;
}
#side .btnContents i{
    font-size: 60px;
    position: absolute;
    bottom: 0; right: 0;
    opacity: 1;
}
#side .btnContents i:nth-child(1){
    animation: ani linear 1.5s 0s infinite;
}
#side .btnContents i:nth-child(2){ animation: ani linear 1.5s 0.5s infinite;}
#side .btnContents i:nth-child(3){ animation: ani linear 1.5s 1.0s infinite;}

@keyframes ani{
    0%{right: 0;
      opacity: 1; 
      transform: scale(1);}
    100%{
        right: 100px;
        opacity:0; 
       transform: scale(1.5);
    }
}